.table-heading {
    background-color: #474955;

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.table-heading th {
    border: none;

    min-width: 84px;

    box-sizing: border-box;
}

.table-container tr td:first-child {
    padding: 24px;
}

.table-container tbody td {
    font-size: 13px;
}

.table-heading__icon {
    width: 25px;
}